<!DOCTYPE html>{% load staticfiles %}
<html lang="en">
<head>

    <title>Bike locations</title>
    <script src="http://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="http://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>


    <!-- Routing  -->

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    <link rel="stylesheet" href="/static/routing/leaflet-routing-machine.css"/>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="/static/routing/leaflet-routing-machine.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.6.2/pure-min.css"/>

    <!-- Map  -->
    <script src="https://cdn.jsdelivr.net/leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/materialize.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
</head>
<body onload="pos()">
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Dublin bike finder</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Hello</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <div id="map-box">
            <div id="map" style="height: 500px; "></div>
        </div>
        <br><br>
        <table id="example" class="display" data-order='[[ 2, "asc" ]]' cellspacing="0" width="100%">

        </table>
        <script>
            //Accessible map
            var been_routed = false;
            var routing = '';
            var map = '';
            var users_lat_coords, users_lng_coords, x, y = '';

            function pos() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                } else {
                    alert("Geolocation is not supported by this browser.");
                }
            }
            function showPosition(position) {
                //Set the map view to be the users location
                //
                map = L.map('map').setView([position.coords.latitude, position.coords.longitude], 14);
                L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);

                //Change the users marker to a unique red & show users location on click
                //
                L.marker([position.coords.latitude, position.coords.longitude], {
                    icon: L.AwesomeMarkers.icon({prefix: 'fa', markerColor: 'red'})
                }).addTo(map).bindPopup("<b>Your location: </b>" + position.coords.latitude + "," + position.coords.longitude);


                //Loop through all of the Dublin bike data and assign them onClick of a marker
                //
                var dataSet = [];
                $.ajax({
                    method: 'GET',
                    url: "/json_all_stations/",
                    data: {'lat': position.coords.latitude, 'long': position.coords.longitude},
                    success: function (bike_data) {

                        for (var i in bike_data['0']) {
                            var row = [];
                            a = bike_data;
                            coords = a['0'][i]['fields']['position'];
                            var regExp = /\(([^)]+)\)/;
                            var matches = regExp.exec(coords);

                            //matches[1] contains the value between the parentheses
                            splitting = matches[1].split(" ");
                            lng = splitting[0];
                            lat = splitting[1];

                            row.push(a['0'][i]['pk']);
                            row.push(a['0'][i]['fields']['stand_name']);
                            row.push(a['0'][i]['distance']);
                            row.push(a['0'][i]['fields']['available_bikes']);

                            dataSet.push(row);

                            L.marker([lat, lng]).addTo(map).bindPopup("<hr><b>Number: </b>" + a['0'][i]['pk'] + "<br><b>Name: </b>" + a['0'][i]['fields']['stand_name'] +
                                "<hr><b>Free bikes: </b> " + a['0'][i]['fields']['available_bikes'] + "<br><b>Total stands: </b>" + a['0'][i]['fields']['total_bike_stands'] +
                                "<hr><b>Free stands: </b> " + a['0'][i]['fields']['available_bike_stands'] + "<hr><b>Updated: </b>" + a['0'][i]['fields']['last_update'] +
                                "<hr><b>Position: </b>" + lat + "," + lng +
                                "<hr><b>Distance: </b>" + a['0'][i]['distance'] + "<hr>"
                                + "<br><button class='btn btn-primary' onclick=\"route_to_station(" + position.coords.latitude + "," + position.coords.longitude + "," + lat + "," + lng + ")\">Route to here</button>");
                        }

                        if (x !== '') {
                            L.Routing.control({
                                    waypoints: [L.latLng(users_lat_coords, users_lng_coords), L.latLng(x, y)],
                                    lineOptions: {addWaypoints: false}
                                }
                            ).addTo(map);
                        }
                        $('#example').DataTable({
                            data: dataSet,
                            columns: [
                                {title: "#"},
                                {title: "Name"},
                                {title: "Distance (Km)"},
                                {title: "Free Bikes"}

                            ]
                        });
                    }

                });


                //Change cursor to a move instead of hand grab
                //
                $('.leaflet-container').css('cursor', 'move');
            }

            function route_to_station(users_lat_coords1, users_lng_coords1, x1, y1) {
                users_lat_coords = users_lat_coords1;
                users_lng_coords = users_lng_coords1;
                x = x1;
                y = y1;

                if (x !== '') {
                    if (been_routed === true) {
                        routing.spliceWaypoints(0, 1);
                    }
                    routing = L.Routing.control({
                        waypoints: [L.latLng(users_lat_coords, users_lng_coords), L.latLng(x, y)],
                        lineOptions: {addWaypoints: false}
                    });
                    routing.addTo(map);
                    been_routed = true;
                    var listofroutes = document.getElementsByClassName('leaflet-routing-container leaflet-bar leaflet-control');
                    if (listofroutes.length > 1) {
                        listofroutes[0].remove();
                    }


                }
            }
        </script>
    </div>
    <br><br>


    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="material-icons">wifi</i></h2>
                        <h5 class="center">Find a nearby bike</h5>

                    </div>
                    <p class="light">You will be able to see any bikes within a close distance or search for any of the
                        101
                        nearby stations.</p>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="material-icons">room</i></h2>
                        <h5 class="center">Get directions</h5>

                        <p class="light">Get directions for your chosen bike station.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="material-icons">search</i></h2>
                        <h5 class="center">Locate the station</h5>

                        <p class="light">Walk or cycle to your bike station to either get a bike or drop one off.</p>
                    </div>
                </div>
            </div>

            <br><br>

            <div class="section">

            </div>
        </div>

        <footer class="page-footer orange">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Dublin Bike Finder</h5>

                        <p class="grey-text text-lighten-4">If you want to find a Dublin bike, or looking for a free
                            station to
                            drop your bike back. This app will help.</p>

                    </div>
                    <div class="col l3 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="white-text" href="/">Home</a></li>
                            <li><a class="white-text" href="/all_stations">All stations</a></li>
                            <li><a class="white-text" href="http://www.dublinbikes.ie" target="_blank">Dublin Bikes
                                (official
                                site)</a></li>
                        </ul>
                    </div>
                    <div class="col l3 s12">
                        <h5 class="white-text"></h5>
                        <ul>
                            <li><a class="white-text" href="#!"></a></li>
                            <li><a class="white-text" href="#!"></a></li>
                            <li><a class="white-text" href="#!"></a></li>
                            <li><a class="white-text" href="#!"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    Made by <a class="orange-text text-lighten-3">Eoin Irwin</a>
                </div>
            </div>
        </footer>

        <!--  Scripts-->
        <script src="/static/js/materialize.js"></script>
        <script src="/static/js/init.js"></script>
    </div>
</div>
</body>
</html>
