<!DOCTYPE html>{% load staticfiles %}
<html lang="en">
<head>

    <title>Bike locations</title>

    <!-- Routing  -->

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    <link rel="stylesheet" href="/static/routing/leaflet-routing-machine.css"/>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="/static/routing/leaflet-routing-machine.js"></script>

    <!-- Map  -->
    <script src="https://cdn.jsdelivr.net/leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/materialize.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
</head>
<body onload="pos()">
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Dublin bike finder</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Hello</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <div id="map-box">
            <div id="map" style="height: 500px; "></div>
        </div>
        <script>
            //Accessible map
            var been_routed = false;
            var routing = '';
            var map = '';
            var users_lat_coords, users_lng_coords, x, y = '';

            function pos() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                } else {
                    alert("Geolocation is not supported by this browser.");
                }
            }
            function showPosition(position) {
                //Set the map view to be the users location
                //
                map = L.map('map').setView([position.coords.latitude, position.coords.longitude], 14);
                L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);

                //Change the users marker to a unique red & show users location on click
                //
                L.marker([position.coords.latitude, position.coords.longitude], {
                    icon: L.AwesomeMarkers.icon({prefix: 'fa', markerColor: 'red'})
                }).addTo(map).bindPopup("<b>Your location: </b>" + position.coords.latitude + "," + position.coords.longitude);


                //Loop through all of the Dublin bike data and assign them onClick of a marker
                //
                {% for dub_bikes in data %}
                    L.marker([{{ dub_bikes.position.y }}, {{ dub_bikes.position.x }}]).addTo(map)
                        .bindPopup("<hr><b>Number: </b>{{dub_bikes.stand_number}} " +
                            "<br><b>Name: </b>{{dub_bikes.stand_name}} " +
                            "<hr><b>Total stands: </b>{{ dub_bikes.total_bike_stands }} " +
                            "<hr><b>Empty stands: </b> {{ dub_bikes.available_bike_stands }} " +
                            "<br><b>Free bikes: </b>{{ dub_bikes.available_bikes }}  " +
                            "<hr><b>Updated: </b>{{ dub_bikes.last_update }} <hr>" +
                            "<b>Position: </b>{{ dub_bikes.position.y }} {{ dub_bikes.position.x }}<hr>" +
                            "<br><button class='btn btn-primary' onclick=route_to_station(" + position.coords.latitude + "," + position.coords.longitude + ",{{ dub_bikes.position.y }},{{ dub_bikes.position.x }})>Route to here</button>");
                {% endfor %}

                //Change cursor to a move instead of hand grab
                //
                $('.leaflet-container').css('cursor', 'move');


            }

            function route_to_station(users_lat_coords1, users_lng_coords1, x1, y1) {
                users_lat_coords = users_lat_coords1;
                users_lng_coords = users_lng_coords1;
                x = x1;
                y = y1;

                if (x !== '') {
                    if (been_routed === true) {
                        routing.spliceWaypoints(0, 1);
                    }
                    routing = L.Routing.control({
                            waypoints: [L.latLng(users_lat_coords, users_lng_coords), L.latLng(x, y)],
                            lineOptions: {addWaypoints: false}
                        }

                    );
                    routing.addTo(map);
                    been_routed = true;
                    var listofroutes = document.getElementsByClassName('leaflet-routing-container leaflet-bar leaflet-control')
                    if (listofroutes.length >1){
                        listofroutes[0].remove();
                    }


                }
            }
        </script>
    </div>
    <br><br>

</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">wifi</i></h2>
                    <h5 class="center">Find a nearby bike</h5>

                </div>
                <p class="light">You will be able to see any bikes within a close distance or search for any of the 101
                    nearby stations.</p>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">room</i></h2>
                    <h5 class="center">Get directions</h5>

                    <p class="light">Get directions for your chosen bike station.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">search</i></h2>
                    <h5 class="center">Locate the station</h5>

                    <p class="light">Walk or cycle to your bike station to either get a bike or drop one off.</p>
                </div>
            </div>
        </div>

    </div>
    <br><br>

    <div class="section">

    </div>
</div>

<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Dublin Bike Finder</h5>

                <p class="grey-text text-lighten-4">If you want to find a Dublin bike, or looking for a free station to
                    drop your bike back. This app will help.</p>

            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="white-text" href="/">Home</a></li>
                    <li><a class="white-text" href="/all_stations">All stations</a></li>
                    <li><a class="white-text" href="/nearby_station">Nearby Station</a></li>
                    <li><a class="white-text" href="http://www.dublinbikes.ie" target="_blank">Dublin Bikes (official
                        site)</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text"></h5>
                <ul>
                    <li><a class="white-text" href="#!"></a></li>
                    <li><a class="white-text" href="#!"></a></li>
                    <li><a class="white-text" href="#!"></a></li>
                    <li><a class="white-text" href="#!"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3">Eoin Irwin</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/static/js/materialize.js"></script>
<script src="/static/js/init.js"></script>
<style>
    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>
</body>
</html>
